div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
div a{
    background-color: rgb(213, 217, 222);
    padding: .3rem 1rem;
    margin: .2rem .15rem;
    border-radius: 10rem;
    color: blue;
    font-weight: 600;
}
