
<marquee class="scroll">***Visit ground floor 1st stage for this squad. Caught us and get 25% discount in staters and bestsellers on every wednesdat at FoodCorner ->>>> for any Queries....Contact: 7416631695 email:sp7313636@gmail.com, Jublihills,Hyederabad ***  </marquee>

<app-search></app-search>
<app-tags></app-tags>

<ul>
    <li *ngFor="let food of foods">
        <a routerLink="/food/{{food.id}}">
        <img src="{{food.imageUrl}}" alt="food images">
    
    <div class="container">
        <div class="name">
            {{food.name}}
        </div>
        <span class="favorite {{food.favorite?'':'not'}}">♥</span>
        <star-rating 
        [value]="food.stars" 
        [totalstars]="5" 
        checkedcolor="red" 
        uncheckedcolor="black" 
        size="24px"
         [readonly]="true">
        </star-rating>

        <div class="product-item-footer">
            <div class="origins">
                <span *ngFor="let origins of food.origins">
                    {{origins}}
                </span>
            </div>

            <div class="cookTime">
                <span>
                    🕐
                </span>
                {{food.cookTime}}
            </div>

            <div class="price">
                {{food.price|currency}}
            </div>
        </div>
    </div>
    </a>
    </li>
</ul>
